<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./CSS/style.css">
    <title>Banking App</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Hello</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/adduser">Add User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/data">View Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/history">Transfer History</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Card Container -->
    <div class="container my-4 custom_card">
        <!-- Add User Card -->
        <div class="card bg-dark text-light">
            <div class="card-body text-center">
                <i class="fas fa-user-plus"></i>
                <h5 class="card-title">Add User</h5>
                <a href="/adduser" class="btn btn-light text-dark">Add User</a>
            </div>
        </div>

        <!-- View Users Card -->
        <div class="card bg-dark text-light">
            <div class="card-body text-center">
                <i class="fas fa-users"></i>
                <h5 class="card-title">All Customers</h5>
                <a href="/data" class="btn btn-light text-dark">View Users</a>
            </div>
        </div>

        <!-- Transfer History Card -->
        <div class="card bg-dark text-light">
            <div class="card-body text-center">
                <i class="fas fa-exchange-alt"></i>
                <h5 class="card-title">Transfer History</h5>
                <a href="/history" class="btn btn-light text-dark">Transfer History</a>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-dark text-muted text-light fixed-bottom cus-foot">
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            &copy; 2021 SparkBank. All rights reserved.
        </div>
    </footer>
   
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
